.singleBlog {
	padding: 100px 0;
	.wp-block-embed__wrapper {
		width: 100%;
		height: 0;
		margin: 30px 0;
		padding-bottom: 56.25%;
		position: relative;
		video, embed, iframe, object {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	figure {
		margin: 30px 0;
		img {
			margin: 0;
		}
	}
	img {
		width: 100%;
		height: 100%;
		margin: 30px 0;
		object-fit: cover;
	}
	h1 {
		margin-bottom: 30px;
		text-transform: uppercase;
		font-family: "Gotham Ultra";
		font-size: 30px;
		color: $lightBlue;
	}
	p {
		margin-bottom: 20px;
		font-family: "Gotham Book";
		font-size: 14px;
		color: $blue;
		strong {
			font-family: "Gotham Ultra";
		}
		a {
			color: $blue;
			&:hover {
				color: $lightBlue;
			}
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	blockquote {
		width: 80%;
		display: block;
		margin: 50px auto;
		padding: 50px 30px;
		background: $gray;
		border-left: 3px solid $lightBlue;
		font-family: "Gotham Bold";
		font-size: 18px;
		font-style: italic;
		color: $lightBlue;
	}
}